.sidebar {
    position: relative;
    top: 0;
    background-color: black;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 8px;
    max-width: 100%;
    width: 100%;
    margin: 5px auto;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  @media (min-width: 768px) {
    .sidebar {
      position: sticky;
      margin: 5px 0;
      max-width: 300px;
      transform: translateX(0);
    }
  }
  
  .sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-links li {
    margin: 10px 0;
  }
  
  .sidebar-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .sidebar-links a:hover {
    color: #00ffcc;
  }
  